# Dependencies
node_modules/

# Build outputs
dist/

# Environment
.env
.env*.local

# Prisma
/generated/prisma
prisma.config.js
prisma.config.js.map
prisma.config.d.ts

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Uploads
uploads/

# Logs
*.log
npm-debug.log*

# Testing
coverage/
